@model ForgotPasswordVM 
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Lost password</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Lost password</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Reset Password Section-->
<section class="reset-section">
    <div class="auto-container">
        <div class="form-box site-form">
            <div class="reset-form">
                <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                    <div class="row clearfix">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="invalid-alert"><i class="fa fa-times-circle"></i> Invalid username or email</div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="text">Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Email Address <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Email" class="form-control form-control-user" placeholder="Enter Email Address...">
                                <span asp-validation-for="Email" class="text-primary"></span>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="text-right"><button type="submit" class="theme-btn btn-style-two"><span>Reset Password<i class="icon far fa-angle-right"></i></span></button></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="lower-link">Don't have a account? <a asp-controller="Account" asp-action="Register">Sign Up</a> Now</div>
        </div>
    </div>
</section>


