@model RegisterViewModel 
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Sign Up</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Sign Up</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Sign Up Section-->
<section class="signup-section">
    <div class="auto-container">
        <div class="form-box site-form">
            <div class="signup-form">
                <h5>Sign Up</h5>
                <form method="post" asp-action="Register" >
                    <div class="row clearfix">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Name<i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="FirstName" class="form-control form-control-user" placeholder="Name">
                                <span asp-validation-for="FirstName" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">SurName<i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="LastName" class="form-control form-control-user" placeholder="SurName">
                                <span asp-validation-for="LastName" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">User Name <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Username" class="form-control form-control-user" placeholder="Username">
                                <span asp-validation-for="Username" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Email Address <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Email" class="form-control form-control-user" placeholder="Email Address">
                                <span asp-validation-for="Email" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Password <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="Password" class="form-control form-control-user" placeholder="Password">
                                <span asp-validation-for="Password" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Re-Enter Password <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Repeat Password">
                                <span asp-validation-for="ConfirmPassword" class="text-primary"></span>
                            </div>
                        </div>
                                <div asp-validation-summary="ModelOnly" class="text-primary "></div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-two"><span>Sign Up<i class="icon far fa-angle-right"></i></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="lower-link">Already have an account? <a asp-controller="Account" asp-action="Login">Login In</a></div>
        </div>
    </div>
</section>



