@model ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('https://themeim.com/demo/treker/images/background/banner-image-1.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Reset Password</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="current">Reset Password</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <div class="form-box site-form">
            <div class="login-form">
                <h5>Reset Password</h5>
                <form method="post" >
                    <div class="row clearfix">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">New Password <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="NewPassword" class="form-control form-control-user" placeholder="Enter New Password...">
                                <span asp-validation-for="NewPassword" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Comfirm Password <i>*</i></div>
                            <div class="field-inner">
                                <input asp-for="ComfirmPassword" class="form-control form-control-user" placeholder="ComfirmPassword">
                                <span asp-validation-for="ComfirmPassword" class="text-primary"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-inner clearfix">
                              
                                
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-two"><span>Submit<i class="icon far fa-angle-right"></i></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


